# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Type checker
.mypy_cache/
.dmypy.json
dmypy.json

# Ruff
.ruff_cache/

# IDEs and editors
.idea/
.vscode/
*.code-workspace

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# dotenv
*.env
!.env.example

# PyInstaller
*.manifest
*.spec

# Logs
logs/
*.log

# Local files
.DS_Store
Thumbs.db